{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
  <div class="col-md-7">
    <div style="padding: 50px" class="card">
  <form  id="upload-form" method="post" enctype="multipart/form-data">
      {% if msg != "" %}
          <span class="{{ color }}">{{ msg }}</span>
      {% endif %}
    {% csrf_token %}
      {{ form.as_p }}

    <button id="submit-btn" class="btn btn-primary" type="submit">Upload Notes</button>
  </form>

    </div>
    </div>
{% comment %}
 <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Notes</h4>
      </div>
      <div class="card-body">


        <div class="alert alert-default alert-with-icon" data-notify="container">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
          </button>

          <span data-notify="icon" class="tim-icons icon-bell-55"></span>
      <span style="font-size: 15px;" data-notify="message"></span>


        </div>


{% endcomment %}



      </div>
    </div>
  </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
  if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}

