{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">

      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h2  class="text">Teacher Dashboard</h2>
                <h3 class="card-title">Teacher Name: {{ request.user.username }}</h3>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>

    <section class="pt-5 pb-5">
  <div class="container">
    <div class="row">
        <div class="col-6">
            <h3 class="mb-3">Subjects </h3>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="col-12">
            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            {% for subject in subjects|slice:"0:3" %}

                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src="https://learn.g2.com/hubfs/What_is_Information_Technology.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">{{ subject.name}}</h4>

                                        <div style="padding-left: 5%" class="row">
                                        <button id="submit-btn" class="btn btn-primary">Notes</button>

                                        <button id="submit-btn" class="btn btn-primary">Question Papers</button>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            {% endfor %}
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">

                            {% for subject in subjects|slice:"3:6" %}

                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src="https://learn.g2.com/hubfs/What_is_Information_Technology.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">{{ subject.name}}</h4>
                                        <div style="padding-left: 5%" class="row">
                                        <button id="submit-btn" class="btn btn-primary">Notes</button>

                                        <button id="submit-btn" class="btn btn-primary">Question Papers</button>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            {% endfor %}


                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">

                             {% for subject in subjects|slice:"6:9" %}

                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <img class="img-fluid" alt="100%x280" src="https://learn.g2.com/hubfs/What_is_Information_Technology.jpg">
                                    <div class="card-body">
                                        <h4 class="card-title">{{ subject.name}}</h4>

                                       <div style="padding-left: 5%" class="row">
                                        <button id="submit-btn" class="btn btn-primary">Notes</button>

                                        <button id="submit-btn" class="btn btn-primary">Question Papers</button>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
